<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @result.lesson_id %>
</p>

<p>
  <strong>Anwser:</strong>
  <%= @result.anwser_id %>
</p>

<p>
  <strong>Word:</strong>
  <%= @result.word_id %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
