<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @word.category_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @word.content %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
